.uk-panel.uk-panel-box.uk-panel-header
    .uk-panel-title
        Student
        - if policy(student).update?
            = link_to edit_admin_student_path(student), class: 'uk-button uk-float-right uk-button-small' do
                %i.uk-icon.uk-icon-arrow-right
                Change class
    %dl.uk-description-list.uk-description-list-horizontal
        %dt Class
        %dd
            = link_to student.school_class.name, [ :admin, student.school_class ]
