.uk-panel.uk-panel-box.uk-panel-header
    .uk-panel-title
        Student
        - if policy(student).update?
            = link_to edit_admin_student_path(student), class: 'uk-button uk-float-right uk-button-small' do
                %i.uk-icon.uk-icon-arrow-right
                Change class
    %h3 Class
    %ul.uk-description-list.uk-description-list-horizontal
        - student.school_classes.each do |sc|
            %li= link_to sc.to_s, [ :admin, sc ]
