.uk-panel.uk-panel-box.uk-panel-header
    .uk-panel-title Student
    %dl.uk-description-list.uk-description-list-horizontal
        %dt Class
        %dd= link_to student.school_class.name, [ :admin, student.school_class ]
