.uk-panel.uk-panel-box.uk-panel-header
    .uk-panel-title Teacher
    - if teacher.teacher_school_class_discipline.count > 0
        %dl.uk-description-list.uk-description-list-horizontal
            - teacher.teacher_school_class_discipline.group_by { |e| e.discipline.name}.each do |discipline, classes|
                %dt= discipline
                %dd
                    %ul.uk-list
                        - classes.each do |cls|
                            %li
                                = cls.school_class.name
                                %span.uk-text-muted (#{cls.school_class.students.count} students)
    - else
        %em.uk-display-block.uk-text-center.uk-text-muted
            This teacher teaches in no class.
