# Ignore bundler config.
/.bundle

# Ignore Gemfile-related files, to disable noise during development
/Gemfile.local
/Gemfile.lock

# Ignore the SQL schema, as it may contain module-related data
/db/schema.rb

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore rails' secret token
/config/secrets.yml

# Ruby version management
/.ruby-version
/.ruby-gemset

# Production Env
public/assets

# THANKS APPLE
.DS_Store
__MACOSX

# THANKS EMACS
*~

# THANKS VIM
*.swp
