# Ignore bundler config.
/.bundle

# Ignore Gemfile-related files, to disable noise during development
/Gemfile.local
/Gemfile.lock

# Ignore the SQL schema, as it may contain module-related data
/db/schema.rb

# Ignore module migrations
/db/migrate/*_engine.rb

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore uploaded files
/public/uploads/*

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore rails' secret token
/config/secrets.yml

# Ruby version management
/.ruby-version
/.ruby-gemset

# Production Env
public/assets

# Documentation
/.yardoc
/doc

# THANKS APPLE
.DS_Store
__MACOSX

# THANKS EMACS
*~

# THANKS VIM
*.swp

# THANKS RUBYMINE
/.idea

# THANKS SIMPLECOV
/coverage

# The school logo
/app/assets/images/school_logo.png

# Uploads
/public/uploads/*

# Bower
Gemfile
vendor/assets/.bowerrc
vendor/assets/bower.json
vendor/assets/bower_components/
