- title! 'Error'
.uk-panel.uk-panel-box.uk-container-center.uk-width-large-3-5
    %p You want to demote the following user from the “Teacher” role.
    = render partial: 'users/summary', object: @teacher, as: :user
    %p
        This action is not currently possible, as this teacher is teaching in
        the following classes:
    %ul
        - @teacher.school_classes.each do |cls|
            %li= cls.name
    %p
        Remove these classes from this teacher in order to be able to demote
        this user.
    .uk-align-right
        = link_to 'Cancel', @teacher.user, class: 'uk-button'
