.uk-form-row
    = f.label :school_class_id, class: 'uk-form-label'
    .uk-form-controls
        = f.collection_select :school_class_ids, SchoolClass.all, :id, :to_s, {}, {class: 'uk-width-1-1', multiple: true}
