- content_for :title do
    Students
%table{style: 'width: 100%'}
    %thead
        %tr
            %td Login
            %td Name
            %td E-mail
            %td Actions
    %tbody
        = render partial: 'row', collection: @students, as: :student
- content_for :toolbar do
    %dl
        %dt Actions
        %dd
            %ul.link-list
                %li= link_to('Create student', new_admin_student_path, class: 'glyph-add')
