.cl-user-summary
    = image_tag "users/#{user.login}.jpg", width: '64', class: 'uk-thumbnail uk-vertical-align-middle uk-margin-right uk-margin-left'
    .uk-panel.uk-vertical-align-middle
        %strong= user.full_name
        %br/
        = user.login
