.cl-box-list
    - @school_classes.each do |klass|
        = link_to [ :admin, klass ], class: 'uk-panel uk-panel-box' do
            = klass.name
            .uk-align-right
                %span.uk-text-muted
                    %i.uk-icon-user
                    = klass.students.count
                    %i.uk-icon-mortar-board.uk-margin-left
                    = klass.teacher_school_class_discipline.count
                %i.uk-icon-chevron-right.uk-margin-left
