- if @school_classes.empty?
    .uk-text-center
        %strong You have no classes assigned.
        Please contact the school office or the system administrator if you think this is an error.
- @school_classes.each do |discipline, classes|
    %h2= discipline.name
    .cl-box-list
        - classes.each do |klass|
            = link_to [ :admin, klass.school_class ], class: 'uk-panel uk-panel-box' do
                = klass.school_class.name
                .uk-align-right
                    %span.uk-text-muted
                        %i.uk-icon-user
                        = klass.school_class.students.count
                    %i.uk-icon-chevron-right.uk-margin-left
