.user-card
    .user-card-front
        .user-card-picture
        .user-card-identity
            %strong= current_user.full_name
    .user-card-back
        %ul
            %li
                = link_to destroy_user_session_path, method: :delete, class: 'glyph-logout' do
                    %span Log out
