%h2 Administration
%dl
    %dt= link_to 'Users', admin_users_path
    %dd
        Allows to view users, edit or delete them, and add new.
    %dt= link_to 'Classes', admin_school_classes_path
    %dd
        Allows to manage classes and attendees
