%h1 Welcome to Cloudiversity
- unless @widgets.nil? || @widgets.empty?
    %ul.uk-grid{'data-uk-grid-margin' => ''}
        - @widgets.each do |name|
            %li.uk-width-1-3
                .uk-panel.uk-panel-box= begin render_cell name, :show, user: current_user rescue render_cell :widget_error, :show, name: name end
