- title! 'Disciplines'
.cl-box-list
    = render partial: 'row', collection: @disciplines, as: :discipline
- sidebar! do |s|
    = s.link 'Create a discipline', new_admin_discipline_path, icon: 'plus'
