-title! 'Sign in'
-# If the user see this view after a POST, chances are there is a problem
-# with the login.
- if request.post?
    .uk-panel.uk-panel-box.uk-margin-bottom
        %h3.uk-panel-title Locked out?
        If you lost your password or locked your account, you have to
        contact your school's system administrator, who can unlock your
        account.
= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'uk-form uk-form-horizontal'}) do |f|
    = f.auto_input :login, field_opts: {autofocus: true}
    = f.auto_input :password
    .uk-form-row
        = f.submit 'Sign in', class: 'uk-button uk-button-success uk-align-right'
