@import "uikit/themes/default/gradient/uikit";
@import "uikit_cloudiversity";

main {
    max-width: 1600px;
    margin: 2em auto;
    padding: 0 2em;
}

// Load our font
@font-face {
    font-family: "Fira Sans";
    src: font-url('FiraSans-Regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: font-url('FiraSans-Bold.woff');
    font-weight: bold;
}

@import "users";
