//= require codemirror
//= require jquery.ui.slider

@import "uikit/themes/default/gradient/uikit";
@import "uikit/addons/htmleditor";
@import "uikit/themes/default/gradient/addons/htmleditor";
@import "uikit/addons/form-select";
@import "uikit/addons/form-advanced";
@import "uikit_cloudiversity";

main {
    max-width: 1600px;
    margin: 2em auto;
    padding: 0 2em;
}

// Load our font
@font-face {
    font-family: "Fira Sans";
    src: font-url('FiraSans-Regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: font-url('FiraSans-Bold.woff');
    font-weight: bold;
}

// Fix for form fields
.uk-form input[type="radio"], .uk-form input[type="checkbox"] {
    overflow: initial;
}

@import "users";
