//= require codemirror
//= require fullcalendar
//= require jquery-ui/slider
//
//= require uikit
//= require fonts
//= require login

/*
@import "uikit/less/uikit-variables";
@import "uikit_cloudiversity";

@cl-theme-red: #94383a;
@global-border-radius: 5px;

main {
    max-width: 1600px;
    margin: 2em auto;
    padding: 0 @grid-gutter-horizontal;
}

@media (max-width: @breakpoint-medium-max) {
    main {
        padding: 0 @utility-margin;
    }

    .uk-panel-box {
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
        margin-left: -@utility-margin;
        margin-right: -@utility-margin;
    }
}

// Fix for form fields
.uk-form input[type="radio"], .uk-form input[type="checkbox"] {
    overflow: initial;
}

// Forms inside of link lists
.cl-links-form {
    margin: -5px 15px 5px 15px;
}

.cl-links-form > .uk-autocomplete {
    & .uk-dropdown {
        position: static;
        width: 100%;
        display: block !important;

        border: none;
        background: transparent;
        margin: 5px -15px;
        padding: 0 15px;
        box-sizing: content-box;
        box-shadow: none;

        // TODO: Use base uikit classes for that
        & ul, & li {
            padding: 0;
            margin: 0;
        }

        & a {
            padding: 5px 15px;
            margin: 0 -15px;
            color: black;

            &:hover {
                background-color: @nav-side-hover-background;
            }
        }
    }
}

.uk-panel.uk-panel-box.attachments {
  clear: both; // fixes agenda assignment progress button being hidden by attachments
}

// Search
@search-border: @cl-theme-border;
@search-background: white;

// See missing translations
.translation_missing {
  color: @cl-theme-red;
  border-bottom: 2px dotted @cl-theme-red;
}

.cl-branding, .cl-branding a {
    color: @cl-theme-primary;
}

@import "users";
@import "fixes";
*/
