@font-face {
    font-family: "Fira Sans";
    font-weight: normal;
    src: url(asset_path('FiraSans-Regular.woff'));
}

@font-face {
    font-family: "Fira Sans";
    font-weight: bold;
    src: url(asset_path('FiraSans-Bold.woff'));
}

@font-face {
    font-family: "FontAwesome";
    src: url(asset_path('fontawesome-webfont.woff'));
}
