$blue: #537e91;
$red: #923c3a;
$green: #7a904d;

$lightblue: lighten($blue, 50%);
$lightred: lighten($red, 50%);
$lightgreen: lighten($green, 50%);

body {
    font-family: 'Fira Sans';
}

.alert-box {
    border: 1px solid $blue;
    background-color: $lightblue;
    background: -webkit-linear-gradient(
            top,
            lighten($lightblue, 5%) 0%,
            darken($lightblue, 10%) 100%
        );
    background: -moz-linear-gradient(
            top,
            lighten($lightblue, 5%) 0%,
            darken($lightblue, 10%) 100%
        );
    background: linear-gradient(
            top,
            lighten($lightblue, 5%) 0%,
            darken($lightblue, 10%) 100%
        );
    color: $blue;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 5px;

    &.alert {
        background-color: $lightred;
        background: -webkit-linear-gradient(
                top,
                lighten($lightred, 5%) 0%,
                darken($lightred, 10%) 100%
            );
        background: -moz-linear-gradient(
                top,
                lighten($lightred, 5%) 0%,
                darken($lightred, 10%) 100%
            );
        background: linear-gradient(
                top,
                lighten($lightred, 5%) 0%,
                darken($lightred, 10%) 100%
            );
        color: $red;
    }

    &.success {
        background-color: $lightgreen;
        background: -webkit-linear-gradient(
                top,
                lighten($lightgreen, 5%) 0%,
                darken($lightgreen, 10%) 100%
            );
        background: -moz-linear-gradient(
                top,
                lighten($lightgreen, 5%) 0%,
                darken($lightgreen, 10%) 100%
            );
        background: linear-gradient(
                top,
                lighten($lightgreen, 5%) 0%,
                darken($lightgreen, 10%) 100%
            );
        color: $green;
    }
}

h1 {
    font-family: inherit;
    font-weight: normal;
    margin: 0;
    padding: 20px 10px 15px 10px;
    line-height: 110%;
}

@media #{$large-up} {
    .wrapper {
        display: table;
        width: 100%;
        table-layout: fixed;

        & > main {
            display: table-cell;
            padding: 10px;
            vertical-align: top;
        }

        // toolbar size is set in its own CSS file.
    }
}

form.button_to, form.button_to > div { display: inline-block; }
