$glyph-button-size: 20px;

@mixin glyph($which) {
    &:before {
        content: $which;
        font-family: 'FontAwesome';
    }
}

.glyph-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border: none;
    background-color: transparent;
    width: $glyph-button-size;
    height: $glyph-button-size;
    display: inline-block;
    font-size: 0;
    padding: 0;
    margin: 0 2px;
    vertical-align: top;
    color: #898989;
    text-align: center;
    transition: color 0.5s;

    &:before {
        line-height: $glyph-button-size;
        font-size: $glyph-button-size;
        display: inline-block;
    }

    &:hover, &:focus, &:active {
        background-color: transparent;
        color: #456789;
    }

    &.alert {
        color: #898989;
        background-color: transparent;

        &:hover, &:focus, &:active {
            color: $red;
            background-color: transparent;
        }
    }
}

.glyph-check       { @include glyph('\f00c'); }
.glyph-delete      { @include glyph('\f014'); }
.glyph-index       { @include glyph('\f03a'); }
.glyph-edit        { @include glyph('\f040'); }
.glyph-add         { @include glyph('\f067'); }
.glyph-minus       { @include glyph('\f068'); }
// *** SYMBOL DUPLICATE ***
// TODO: Merge the two better than this !
.glyph-eye         { @include glyph('\f06e'); }
.glyph-show        { @include glyph('\f06e'); }
.glyph-exclamation { @include glyph('\f071'); }
.glyph-key         { @include glyph('\f084'); }
.glyph-logout      { @include glyph('\f08b'); }
