$cloudi-topbar-base: #456789;
$cloudi-topbar-text: #FFFFFF;
$cloudi-menu-base: #404040;
$cloudi-menu-text: #FFFFFF;
$cloudi-menu-height: 48px;

.cloudi-topbar {
    display: block;
    background-color: $cloudi-topbar-base; // For legacy browsers
    background: linear-gradient(lighten($cloudi-topbar-base, 20%), darken($cloudi-topbar-base, 10%));
    border-bottom: 1px solid darken($cloudi-topbar-base, 20%);
    border-top: 1px solid lighten($cloudi-topbar-base, 30%);
    height: $cloudi-menu-height;
    margin-bottom: 10px;

    .cloudi-logo {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: (($cloudi-menu-height - 32px) / 2);
        vertical-align: middle;
    }

    .cloudi-brand {
        display: inline-block;
        vertical-align: middle;

        color: $cloudi-topbar-text;
	text-shadow: 0 1px 2px #404040;
    }

    .cloudi-menu-toggle {
        display: inline-block;
        border-left: 1px solid darken($cloudi-topbar-base, 20%);
        height: ($cloudi-menu-height - 1px);
        vertical-align: middle;
        width: $cloudi-menu-height;
        float: right;
        text-align: center;
	margin-top: -1px;
	overflow: hidden;
	text-shadow: 0 1px 2px #404040;
	font-size: (0.5 * $cloudi-menu-height);

        span {
            display: none;
        }

        &:after {
            content: '\2630';
            display: inline-block;
            vertical-align: middle;
            line-height: $cloudi-menu-height - 6px;
            margin: 3px 0;
            color: #FFFFFF;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.cloudi-menu {
    width: 100%;
    background-color: $cloudi-menu-base;
    display: none;

    .cloudi-logo, .cloudi-brand {
        display: none;
    }

    .side-nav {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid darken($cloudi-menu-base, 15%);

            a {
                padding: 10px;
                display: block;
                color: $cloudi-menu-text;

                &:hover {
                    color: $cloudi-menu-text;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }

    position: absolute;
    left: 0;
    top: $cloudi-menu-height;
    z-index: 1;

    &.visible {
        display: block;
    }
}
