- content_for :title do
    Users
%ul.user-list
    = render partial: 'row', collection: @users, as: :user
- content_for :toolbar do
    %dl
        %dt Actions
        %dd
            %ul.link-list
                %li= link_to('Create user', new_admin_user_path, class: 'glyph-add')
